
<ul ngbNav #nav="ngbNav" class="nav-tabs sticky-top navbar-light bg-light">
  <li ngbNavItem>
    <a ngbNavLink class="text-danger" routerLink="">
      <img
        src="../../../../assets/img/logo.svg"
        width="50"
        height="30"
        alt=""
      />
    </a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink class="text-danger" routerLink="/customers">Clientes</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink class="text-danger" routerLink="/sellers">Vendedores</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink class="text-danger" routerLink="/experts">Tecnicos</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink class="text-danger" routerLink="/entries">Lançamentos</a>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
<app-loading></app-loading>
