<app-toast aria-live="polite" aria-atomic="true"></app-toast>
<div class="row">
  <div class="col-11">
    <app-search (filter)="filterResources($event)"></app-search>
  </div>

  <div class="col-1 text-right">
    <a [routerLink]="['new']" class="btn btn-danger mt-3 mr-3">+ Incluir</a>
  </div>
</div>

<div class="d-flex justify-content-between p-2 mb-5">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nome</th>
          <th scope="col">Regional</th>
          <th scope="col">Status</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>

      <tbody *ngIf="resources$ | async">
        <tr *ngFor="let expert of resources">
          <th scope="row">{{ expert.id }}</th>
          <td>
            {{ expert.name }}
          </td>
          <td>
            {{ getRegionalText(expert.regionalId)}}
          </td>
          <td>
            <span
              class="badge badge-pill badge-primary"
              [ngClass]="isActiveClass(expert.isActive)"
              >{{ isActiveText(expert.isActive) }}</span
            >
          </td>
          <td>
            <button
              [routerLink]="[expert.id, 'edit']"
              class="btn btn-outline-info btn-sm mr-2"
              placement="top"
              ngbTooltip="Editar Tecnico"
            >
              <span class="oi oi-pencil"></span>
            </button>

            <button
              (click)="deleteResource(expert)"
              class="btn btn-outline-danger btn-sm"
              placement="top"
              ngbTooltip="Excluir Tecnico"
            >
              <span class="oi oi-trash"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<footer>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="refreshResources()"
    ></ngb-pagination>
    <select
      class="custom-select"
      style="width: auto"
      [(ngModel)]="pageSize"
      (ngModelChange)="refreshResources()"
    >
      <option [ngValue]="10">10 items por pagina</option>
      <option [ngValue]="25">25 items por pagina</option>
      <option [ngValue]="50">50 items por pagina</option>
    </select>
  </div>
</footer>
